.portals,
.portals.dark {
  padding: 0 30px;
  h1 {
    margin-bottom: 30px;
  }

  button {
    outline: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
    &:hover {
      background-color: red;
    }
  }
}

.portals.dark {
  button {
    background-color: gray;
    color: #000;
  }
  & * {
    color: white;
  }
}

.content {
  background-color: #fff;
  width: 500px;
  height: 250px;
  padding: 30px;
  border-radius: 16px;
  z-index: 1;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
